[submodule "MFURLN-CVPR-2019-relationship-detection-method"]
	path = MFURLN-CVPR-2019-relationship-detection-method
	url = https://github.com/Atmegal/MFURLN-CVPR-2019-relationship-detection-method.git
